<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Começando 😎</ion-card-subtitle>
        <ion-card-title>Bom, esse é o Ramy!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Ele vai te ajudar a ter uma melhor experiência com a sua academia.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
